FluentEmail.ConsoleApp/obj/FluentEmail.ConsoleApp.csproj.nuget.dgspec.json
FluentEmail.ConsoleApp/obj/FluentEmail.ConsoleApp.csproj.nuget.g.props
FluentEmail.ConsoleApp/obj/FluentEmail.ConsoleApp.csproj.nuget.g.targets
FluentEmail.ConsoleApp/obj/project.assets.json
FluentEmail.ConsoleApp/obj/project.nuget.cache
FluentEmail.ConsoleApp/obj/Debug/netcoreapp2.2/.NETCoreApp,Version=v2.2.AssemblyAttributes.cs
FluentEmail.ConsoleApp/obj/Debug/netcoreapp2.2/FluentEmail.ConsoleApp.AssemblyInfo.cs
FluentEmail.ConsoleApp/obj/Debug/netcoreapp2.2/FluentEmail.ConsoleApp.AssemblyInfoInputs.cache
FluentEmail.ConsoleApp/obj/Debug/netcoreapp2.2/FluentEmail.ConsoleApp.assets.cache
FluentEmail.ConsoleApp/obj/Debug/netcoreapp2.2/FluentEmail.ConsoleApp.csproj.CoreCompileInputs.cache
FluentEmail.ConsoleApp/obj/Debug/netcoreapp2.2/FluentEmail.ConsoleApp.csproj.FileListAbsolute.txt
FluentEmail.ConsoleApp/obj/Debug/netcoreapp2.2/FluentEmail.ConsoleApp.dll
FluentEmail.ConsoleApp/obj/Debug/netcoreapp2.2/FluentEmail.ConsoleApp.genruntimeconfig.cache
FluentEmail.ConsoleApp/obj/Debug/netcoreapp2.2/FluentEmail.ConsoleApp.pdb
FluentEmail.ConsoleApp/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
FluentEmail.ConsoleApp/obj/Debug/netcoreapp3.1/FluentEmail.ConsoleApp.AssemblyInfo.cs
FluentEmail.ConsoleApp/obj/Debug/netcoreapp3.1/FluentEmail.ConsoleApp.AssemblyInfoInputs.cache
FluentEmail.ConsoleApp/obj/Debug/netcoreapp3.1/FluentEmail.ConsoleApp.assets.cache
FluentEmail.ConsoleApp/obj/Debug/netcoreapp3.1/FluentEmail.ConsoleApp.csprojAssemblyReference.cache
FluentEmail.ConsoleApp/bin/Debug/netcoreapp2.2/FluentEmail.ConsoleApp.deps.json
FluentEmail.ConsoleApp/bin/Debug/netcoreapp2.2/FluentEmail.ConsoleApp.dll
FluentEmail.ConsoleApp/bin/Debug/netcoreapp2.2/FluentEmail.ConsoleApp.pdb
FluentEmail.ConsoleApp/bin/Debug/netcoreapp2.2/FluentEmail.ConsoleApp.runtimeconfig.dev.json
FluentEmail.ConsoleApp/bin/Debug/netcoreapp2.2/FluentEmail.ConsoleApp.runtimeconfig.json
FluentEmail.ConsoleApp/obj/Debug/netcoreapp2.2/FluentEmail.ConsoleApp.csprojAssemblyReference.cache
